@color: #25362ac9;

@color-white: #d6fffc;
@color-danger: #c20202d7;
@color-primary: #02b496d7;
@color-words: #00442dc4;
@color-lightWords: #7baa9ac4;
@color-warn: #d38200c4;
@color-success: #02c322c4;
@color-gray: #59b374c9;
@color-dark: #25362ac9;

@border-base: 1px solid @color-dark;
@border-bold: 2px solid @color-dark;

@fontSize-base: 14px;
@fontSize-small: 12px;
@fontSize-big: 20px;